{% extends 'layout2.html' %} {% block content %}
<div class="layui-card-one">
  <!--用户访问路径追踪-->

  <div
    class="layui-breadcrumb"
    lay-filter="breadcrumb"
    style="visibility: visible"
  >
    <a style="text-decoration: none" href="/index">首页</a
    ><span lay-separator="">/</span>
  </div>
</div>

<div class="right-t-body">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6" style="margin: 5px; width: 70%">
      <div class="layui-card" style="margin: 5px">
        <div class="layui-card-body">
          <div id="allmap"></div>
          <div id="r-result">
            <input type="button" value="获取我的位置" onclick="get_location()"/>
          {#    <img src="http://127.0.0.1:8000/display">#}
          {#    <a href='http://www.baidu.com'>详细信息</a>#}

          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md3" style="margin: 5px">
      <div class="layui-row grid-demo grid-demo-bg1">
        <div class="layui-col-md12"><div class="layui-card" style="margin: 10px">
          <div class="layui-card-header" style="font-size: 15px">快速使用</div>
          <ul class="layui-timeline" style="margin: 10px">
            <li class="layui-timeline-item">
              <i class="layui-icon layui-timeline-axis" >&#xe63f;</i>
              <div class="layui-timeline-content layui-text">
                <a class="layui-timeline-title" style="font-size: 17px" href="/member2">派发指令</a>
              </div>
            </li>
            <li class="layui-timeline-item">
              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
              <div class="layui-timeline-content layui-text">
                <a class="layui-timeline-title" style="font-size: 17px" href="/chat_list2">收信箱</a>
              </div>
            </li>
            <li class="layui-timeline-item">
              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
              <div class="layui-timeline-content layui-text">
                <a class="layui-timeline-title" style="font-size: 17px" href="/workorder2/list">工单列表</a>
              </div>
            </li>
            <li class="layui-timeline-item">
              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
              <div class="layui-timeline-content layui-text">
                <a class="layui-timeline-title" style="font-size: 17px" href="/meeting">视频会议</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="layui-col-md12">
          <div class="layui-card" style="margin: 10px">
            <div class="layui-card-header" style="font-size: 15px">摄像头信息</div>
            <div class="layui-card-body">
              <div style="margin:5px">摄像头名称:<span id="c_id"></span></div>
              <div style="margin:5px">摄像头经度:<span id="c_longitude"></span></div>
              <div style="margin:5px">摄像头维度:<span id="c_latitude"></span></div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
      
        
    </div>
    {% comment %}
    <div class="layui-col-md6" style="margin: 20px height:600px">
      <div class="layui-card" style="margin: 20px">
        <div class="layui-card-body" style="margin: 20px, height: 600px"></div>
      </div>
    </div>
    {% endcomment %}
  </div>
</div>

    <script>
      

      var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(118.3088230000, 32.3002390000), 18);
    map.enableScrollWheelZoom(true);
    var navigationControl = new BMap.NavigationControl({
        // 靠左上角位置
        anchor: BMAP_ANCHOR_TOP_LEFT,
        // LARGE类型
        type: BMAP_NAVIGATION_CONTROL_LARGE,
        // 启用显示定位
        enableGeolocation: true
    });

    map.addControl(navigationControl);

    function get_location() {

      var address_latitude ={{ address_latitude |safe}};
      var address_longitude ={{ address_longitude|safe }};
      var address_data ={{ address_data |safe}};
      var address_url ={{ address_url |safe}};
      {#alert(address_latitude)#}

      var point = []; //存放标注点经纬信息的数组
      var marker = []; //存放标注点对象的数组
      for (var i = 0; i < address_longitude.length; i++) {
          point[i] = new BMap.Point(address_longitude[i], address_latitude[i]); //循环生成新的地图点
          marker[i] = new BMap.Marker(point[i]); //按照地图点坐标生成标记
          map.addOverlay(marker[i]);
      }

      


      for (i = 0; i < marker.length; i++) {
          (function () {
              var index = i;
              marker[index].addEventListener('click', function () {
                var opts = {
                  width : 555,     // 信息窗口宽度
                  height: 365,     // 信息窗口高度
                  title : address_data[index]  // 信息窗口标题
              }
                 
                  var infoWindow = new BMap.InfoWindow(
                  "<img style='width:550px;height:360px'  src='"+address_url[index]+"'>", opts);  // 创建信息窗口对象
                  

                  this.openInfoWindow(infoWindow);
              });
          })();
      }
  }
    </script>
{% endblock %}
