{% extends 'layout.html' %} {% block content %}

<div class="layui-card-one">
  <!--用户访问路径追踪-->

  <div
    class="layui-breadcrumb"
    lay-filter="breadcrumb"
    style="visibility: visible"
  >
    <!--判断是否是最后一层路径，最后一层为不可选中-->

    <a style="text-decoration: none" href="/index">首页</a
    ><span lay-separator="">/</span>

    <!--判断是否是最后一层路径，最后一层为不可选中-->

    <a style="text-decoration: none"><cite>用户列表</cite></a>
  </div>
</div>
<div class="right-t-body">
  <div class="layui-row">
    <div class="layui-card layui-col-md6" style="margin: 20px">
      <div class="layui-card-header">
        用户管理
      </div>
      <div class="layui-card-body" style="padding: 0">
        <table class="layui-table" style="margin: 0">
          <thead>
            <tr style="background-color: #00968817">
              <th>ID</th>
              <th>用户名</th>
              <th>联系电话</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for row in users %}
            <tr>
              <td>{{ row.id }}</td>
              <td>{{ row.name }}</td>
              <td>{{ row.phonenum }}</td>
              <td>
                <a href="" class="layui-btn layui-btn-sm">发送消息</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
