{% extends 'layout.html' %} {% block content %}

<div class="layui-card-one">
  <!--用户访问路径追踪-->

  <div
    class="layui-breadcrumb"
    lay-filter="breadcrumb"
    style="visibility: visible"
  >
    <!--判断是否是最后一层路径，最后一层为不可选中-->

    <a style="text-decoration: none" href="/index">首页</a
    ><span lay-separator="">/</span>

    <!--判断是否是最后一层路径，最后一层为不可选中-->

    <a style="text-decoration: none" href="/workorder/list"
      ><cite>工单列表</cite></a
    >
    <div style="float: right">
      <form method="get">
        <div class="layui-input-inline">
          <input
            type="text"
            name="q"
            lay-verify="required"
            placeholder="工单号搜索"
            autocomplete="off"
            class="layui-input"
          />
        </div>
        <button type="submit" class="layui-btn layui-btn-sm">
          <i class="layui-icon"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="right-t-body">
  <div class="layui-row">
    <div class="layui-card layui-col-md12" style="margin: 20px">
      <div class="layui-card-header">
        工单列表
        <div style="float: right">
          <!--因为rbac的urls有上级urls所以 ，反向生成url的方法如下-->
          <a class="layui-btn layui-btn-sm" href="/workorder/add">
            <!--反向生成url-->
            <i class="fa fa-plus-square" aria-hidden="true"></i> 新建工单
          </a>
        </div>
      </div>
      <div class="layui-card-body" style="padding: 0">
        <table class="layui-table" style="margin: 0">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col width="350" />
            <col />
          </colgroup>
          <thead>
            <tr style="background-color: #00968817">
              <th>ID</th>
              <th>标题</th>
              <th>类型</th>
              <th>状态</th>
              <th>创建时间</th>
              <th>工单内容</th>
              <th>所属村落</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for i,type,status in workorder %}
            <tr>
              <td>{{ i.number }}</td>
              <td>{{ i.title }}</td>
              <td>{{ type }}</td>
              <td>{{ status }}</td>
              <td>{{ i.add_time }}</td>
              <td>{{ i.content }}</td>
              <td>{{ i.village }}</td>

              <td>
                <a
                  href="/workorder/{{i.id}}/edit"
                  class="layui-btn layui-btn-sm"
                  >编辑</a
                >
                <a
                  href="/workorder/{{i.id}}/record"
                  class="layui-btn layui-btn-sm"
                  >记录</a
                >
                <a
                  href="/workorder/{{i.id}}/handle"
                  class="layui-btn layui-btn-sm layui-btn-danger"
                  >处理</a
                >
                <a
                  href="/workorder/{{i.number}}/filelist"
                  class="layui-btn layui-btn-sm layui-btn-danger"
                  >文件查看</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
