{% extends 'layout.html' %} {% block content %}

<div class="layui-card-one">
  <!--用户访问路径追踪-->

  <div
    class="layui-breadcrumb"
    lay-filter="breadcrumb"
    style="visibility: visible"
  >
    <!--判断是否是最后一层路径，最后一层为不可选中-->

    <a style="text-decoration: none" href="/index">首页</a
    ><span lay-separator="">/</span>
    <a style="text-decoration: none" href="/workorder/list">工单列表</a
      ><span lay-separator="">/</span>

    <!--判断是否是最后一层路径，最后一层为不可选中-->

    <a style="text-decoration: none"><cite>工单记录</cite></a>
  </div>
</div>
<div class="right-t-body">
  <div class="layui-row">
    <div class="layui-card layui-col-md6" style="margin: 20px">
      <div class="layui-card-header">
        处理记录
        <div style="float: right">
        </div>
      </div>
      <div class="layui-card-body" style="padding: 0">
        <table class="layui-table" style="margin: 0">
          <thead>
            <tr style="background-color: #00968817">
              <th>处理人</th>
              <th>处理时间</th>
              <th>处理记录</th>

            </tr>
          </thead>
          <tbody>
            {% for i in record %}
            <tr>
              <td>{{ i.handler }}</td>
              <td>{{ i.handle_time }}</td>
              <td>{{ i.content }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
